# Compiled Object files
*.slo
*.lo
*.o
*.out
*.exe
aftp_server

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Eclipse files
.cproject
.project
.settings/*
